<div class="Header">
    <table class="TitleLogo">
        <tr>
            <th>
                <a href="/Home">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/pet-adopt-illustration-download-in-svg-png-gif-file-formats--cat-adopting-animal-dog-a-pack-people-illustrations-5829770.png?f=webp" alt="Pet Adoption Logo">
                </a>
            </th>
            <th>
                <span class="header-title">CAT/DOG ADOPTION INC</span>
                <div id="dateTime" class="date-time"></div>
            </th>
        </tr>
    </table>
</div>
